<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="keywords" content="서울대학교,서울대학교 수강신청,sugang.snu.ac.kr" />
    <meta name="description" content="광학문자인식(OCR, Optical character recognition) with javascript" />
    <meta name="author" content="tantara" />
    <meta name="publisher" content="Taekmin Kim" />
    <meta property="og:title" content="OCR with javascript"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="http://sugang.snu.ac/captcha/0.png"/>
    <meta property="og:url" content="http://sugang.snu.ac"/>
    <meta property="og:description" content="광학문자인식(OCR, Optical character recognition) with javascript" />
    <title>SugangApp</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><%= link_to "Home", root_path %></li>
          <li><%= link_to_function "About", "alert('Number Recognition')" %></li>
          <li><%= link_to_function "Contact", "alert('mail to : tantara@snu.ac.kr')" %></li>
        </ul>
        <h3 class="text-muted">Number Recognition</h3>
      </div>

      <%= yield %>

      <div class="footer">
        <p>&copy; <%= link_to "tantara", "http://tantara.me", :target => "_blank" %> 2013</p>
      </div>
    </div> <!-- /container -->
  </body>
</html>
